.navbar {
  width: 100%;
}

.navbar ul {
  margin: 0;
  padding: 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 80px;
}

.navbar li {
  list-style: none;
  display: block;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
}

.navbar li a.active {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-underline-offset: 3px;
}

